[submodule "CosyVoice"]
	path = CosyVoice
	url = https://github.com/FunAudioLLM/CosyVoice.git
[submodule "InstantID"]
	path = InstantID
	url = git@github.com:instantX-research/InstantID.git
[submodule "PuLID"]
	path = PuLID
	url = https://github.com/ToTheBeginning/PuLID.git
